@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;500;700&display=swap');

.App {
  /* font-family: 'M PLUS 1', sans-serif; */
}

:root {
  --nav-color: hsl(209deg 65% 34%);
  --nav-color-hover: hsl(210, 11%, 45%);
  --nav-border-color: hsl(210, 11%, 45%);
  --light-color: hsl(209deg 100% 86%);
  --font-color: hsl(0, 0%, 100%);
  --font-color-hover: hsl(0, 0%, 40%);
}

